<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Redirecting</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        text-align: center;
        padding: 50px;
    }

    h1 {
        color: #007bff;
    }
</style>
</head>
<body>
<h1>Link Shortener</h1>
<p>If you are not redirected, <a href="" onclick="window.location.assign({{entry | tojson | safe }})" target="_blank">click here</a>.</p>
<script>
    // Immediately perform the redirection
    window.location.assign({{entry | tojson | safe }});
</script>
</body>
</html>